<div class="flex flex-wrap">
<div class="w-full sm:w-1/2">
  <%= render 'dashboard/tradingview' %>
</div>
<div class="w-full sm:w-1/2 p-2">
	<div class="container mx-auto my-8 px-4">
	  <div class="max-w-2xl mx-auto">
	    <div class="flex justify-between items-center mb-4">
	      <h1 class="h3">Edit Discussion</h1>
	      <%= link_to 'Cancel', @discussion, class: "btn btn-link" %>
	    </div>

	    <div class="bg-white rounded shadow p-8">
	      <%= render 'form', discussion: @discussion %>
	    </div>
	  </div>
	</div>
</div>
</div>